html {
  scroll-behavior: smooth; }

body .wraper .wrap-header header .wraper-nav nav ul li a, body .wraper .wrap-header header .copyrigh p a, body .wraper .feed .main-wrapper .donate-info p, body .wraper .feed .main-wrapper .wrapper-feed .feed-text p, body .wraper .footer .wrapper-footer footer .last-footer-block .footer-navigator ul li a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF; }

body .wraper .feed .main-wrapper .wrapper-feed .feed-text h2, body .wraper .feed .main-wrapper .wrapper-feed .feed-text .first-feed-sub, body .wraper .footer .wrapper-footer footer .first-footer-block .footer-sub h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: #333B41; }

body .wraper .feed .main-wrapper .wrapper-feed .pay-block .amount .range-wrapper .quantity span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: #000000; }

body .wraper .feed .main-wrapper .donate-info h2, body .wraper .feed .main-wrapper .donate-info h3, body .wraper .feed .main-wrapper .wrapper-feed .pay-block .panda-block .digit .four-subtittle, body .wraper .feed .main-wrapper .wrapper-feed .pay-block .amount .amount-tityle, body .wraper .feed .main-wrapper .wrapper-feed .pay-forms form .input-block input[type=number], body .wraper .feed .main-wrapper .wrapper-feed .pay-forms form .radio-box label, body .wraper .feed .main-wrapper .wrapper-feed .pay-forms p, body .wraper .footer .wrapper-footer footer .first-footer-block .footer-sub form input[type=email], body .wraper .footer .wrapper-footer footer .last-footer-block .networks ul li a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333B41; }

body .wraper .feed .main-wrapper .wrapper-feed .pay-forms form .feed-btn, body .wraper .footer .wrapper-footer footer .footer-btn .donate-btn {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  width: 300px;
  height: 54px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: white;
  text-align: center;
  text-transform: uppercase; }
  body .wraper .feed .main-wrapper .wrapper-feed .pay-forms form .feed-btn:hover, body .wraper .footer .wrapper-footer footer .footer-btn .donate-btn:hover {
    background: #E47209;
    cursor: pointer; }

body .darck-bg {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(41, 41, 41, 0.8);
  z-index: 3;
  display: none; }
body .wraper {
  width: 100%;
  max-width: 1600px;
  height: auto;
  margin: 0 auto; }
  body .wraper .wrap-header {
    background-color: black;
    color: white;
    width: 100%; }
    body .wraper .wrap-header header {
      width: 100%;
      max-width: 1220px;
      height: 80px;
      margin: 0 auto;
      padding: 0 30px;
      display: flex;
      align-items: center; }
      body .wraper .wrap-header header .wraper-nav {
        max-width: 617px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        body .wraper .wrap-header header .wraper-nav .logo-block {
          position: relative;
          width: 82px;
          height: 52px;
          border: 1px solid #FFFFFF;
          border-radius: 2px;
          padding-top: 3px; }
          body .wraper .wrap-header header .wraper-nav .logo-block h1 {
            text-align: center; }
            body .wraper .wrap-header header .wraper-nav .logo-block h1 a {
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 400;
              font-size: 19.0145px;
              line-height: 120%;
              color: #FFFFFF; }
          body .wraper .wrap-header header .wraper-nav .logo-block .stick {
            position: absolute;
            left: 9px;
            bottom: 6px; }
        body .wraper .wrap-header header .wraper-nav nav {
          height: auto; }
          body .wraper .wrap-header header .wraper-nav nav ul {
            display: flex;
            justify-content: space-between;
            width: 472px; }
            body .wraper .wrap-header header .wraper-nav nav ul li {
              transition: all 0.5s; }
              body .wraper .wrap-header header .wraper-nav nav ul li .activeLink {
                color: #F9804B; }
              body .wraper .wrap-header header .wraper-nav nav ul li:hover {
                transform: scale(1.1); }
      body .wraper .wrap-header header .copyrigh {
        margin-left: auto; }
      body .wraper .wrap-header header .burger-icon {
        display: none; }
      body .wraper .wrap-header header .burger-menu {
        display: none; }
  @media (max-width: 1599px) {
    body .wraper .wrap-header header .wraper-nav {
      max-width: 576px; }
      body .wraper .wrap-header header .wraper-nav nav ul {
        width: 431px; } }
  @media (max-width: 999px) {
    body .wraper .wrap-header header {
      height: 34px;
      padding: 0 20px 0 20px;
      position: fixed;
      z-index: 10;
      background-color: black;
      top: 0px; }
      body .wraper .wrap-header header .wraper-nav .logo-block {
        width: 46.86px;
        height: 29.03px;
        border: none;
        padding: 0;
        margin-bottom: 5px; }
        body .wraper .wrap-header header .wraper-nav .logo-block .stick {
          width: 4.54px;
          height: 13.56px;
          left: 4px;
          bottom: 0px; }
        body .wraper .wrap-header header .wraper-nav .logo-block h1 a {
          font-size: 12.2899px;
          line-height: 0; }
      body .wraper .wrap-header header .wraper-nav nav {
        display: none; }
      body .wraper .wrap-header header .copyrigh {
        display: none; }
      body .wraper .wrap-header header .burger-icon {
        display: block;
        width: 18px;
        height: 10px;
        position: absolute;
        top: 33%;
        right: 20px;
        cursor: pointer; }
        body .wraper .wrap-header header .burger-icon .rectangl {
          width: 100%;
          height: 2px;
          background-color: white; }
        body .wraper .wrap-header header .burger-icon .rect1, body .wraper .wrap-header header .burger-icon .rect2 {
          margin-bottom: 2px; }
      body .wraper .wrap-header header .burger-menu {
        position: relative;
        display: block;
        max-width: 640px;
        width: 100%;
        height: auto;
        position: fixed;
        right: -1000px;
        top: 0;
        background-color: white;
        transition: all 2s; }
        body .wraper .wrap-header header .burger-menu .closeicon {
          position: absolute;
          right: 15px;
          top: 15px;
          cursor: pointer; }
          body .wraper .wrap-header header .burger-menu .closeicon .first-stick {
            width: 15px;
            height: 2px;
            transform: rotateZ(45deg);
            background-color: #333B41;
            border-radius: 2px; }
          body .wraper .wrap-header header .burger-menu .closeicon .second-stick {
            width: 15px;
            height: 2px;
            transform: rotateZ(-45deg);
            background-color: #333B41;
            border-radius: 2px; }
        body .wraper .wrap-header header .burger-menu .wrapper-burger {
          margin: 10px 0 43px 10px; }
          body .wraper .wrap-header header .burger-menu .wrapper-burger .burger-logo-block {
            position: relative;
            width: 65.6px;
            height: 41.6px;
            border: 0.8px solid #FE9013;
            border-radius: 2px;
            padding-top: 3px;
            margin: 0 0 30px 0;
            cursor: pointer; }
            body .wraper .wrap-header header .burger-menu .wrapper-burger .burger-logo-block h1 {
              text-align: center; }
              body .wraper .wrap-header header .burger-menu .wrapper-burger .burger-logo-block h1 a {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 15.2116px;
                line-height: 120%;
                color: #FE9013; }
            body .wraper .wrap-header header .burger-menu .wrapper-burger .burger-logo-block .stick {
              position: absolute;
              left: 9px;
              bottom: 6px; }
          body .wraper .wrap-header header .burger-menu .wrapper-burger .burger-ul li {
            margin: 0 0 14px 0; }
            body .wraper .wrap-header header .burger-menu .wrapper-burger .burger-ul li a {
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 140%;
              color: #333B41; }
      body .wraper .wrap-header header .activeBurger {
        right: 0; } }
  @media (max-width: 639px) {
    body .wraper .wrap-header header {
      padding: 0 10px 0 10px; }
      body .wraper .wrap-header header .wraper-nav {
        max-width: 200px; }
      body .wraper .wrap-header header .burger-icon {
        top: 33%;
        right: 11px; } }
  body .wraper .onlineBlock {
    background-image: url(../../images/pandaDonate.png);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: cover;
    width: 100%;
    height: 388px; }
    @media (max-width: 1599px) {
      body .wraper .onlineBlock {
        background-image: url(../../images/pandaDonate2.png);
        height: 390px; } }
    @media (max-width: 999px) {
      body .wraper .onlineBlock {
        background-image: url(../../images/pandaDonate3.png);
        height: 335px;
        margin-top: 34px; } }
    @media (max-width: 639px) {
      body .wraper .onlineBlock {
        background-image: url(../../images/pandaDonate4.png);
        height: 187px; } }
  body .wraper .feed {
    width: 100%;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
    padding: 40px 0 180px 0;
    display: flex;
    justify-content: center; }
    body .wraper .feed .main-wrapper {
      width: 100%;
      max-width: 1160px;
      height: inherit;
      margin: 0 30px; }
      body .wraper .feed .main-wrapper .donate-info {
        color: white; }
        body .wraper .feed .main-wrapper .donate-info h2 {
          font-size: 36px;
          color: white;
          margin-bottom: 7px; }
        body .wraper .feed .main-wrapper .donate-info p {
          margin-bottom: 48px; }
        body .wraper .feed .main-wrapper .donate-info h3 {
          font-size: 36px;
          color: #FE9013;
          margin-bottom: 58px; }
      body .wraper .feed .main-wrapper .wrapper-feed {
        padding: 41px 0 60px 0;
        background: rgba(253, 253, 255, 0.52);
        backdrop-filter: blur(2px);
        border-radius: 20px;
        box-sizing: border-box; }
        body .wraper .feed .main-wrapper .wrapper-feed .feed-text h2 {
          color: #FE9013;
          text-align: center;
          margin-bottom: 20px;
          margin-right: 9px; }
        body .wraper .feed .main-wrapper .wrapper-feed .feed-text .first-feed-sub {
          font-size: 24px;
          margin-bottom: 60px; }
        body .wraper .feed .main-wrapper .wrapper-feed .feed-text p {
          line-height: 130%;
          color: #333B41;
          margin-left: 93px; }
        body .wraper .feed .main-wrapper .wrapper-feed .pay-block {
          display: flex;
          flex-direction: column;
          align-items: center; }
          body .wraper .feed .main-wrapper .wrapper-feed .pay-block .panda-block {
            max-width: 540.49px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center; }
            body .wraper .feed .main-wrapper .wrapper-feed .pay-block .panda-block .digit {
              box-sizing: border-box; }
              body .wraper .feed .main-wrapper .wrapper-feed .pay-block .panda-block .digit .four {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 72px;
                line-height: 80%;
                text-align: center;
                margin-top: 53px; }
              body .wraper .feed .main-wrapper .wrapper-feed .pay-block .panda-block .digit .four-subtittle {
                line-height: 140%;
                margin-top: 9px; }
            body .wraper .feed .main-wrapper .wrapper-feed .pay-block .panda-block .sign {
              margin-right: 57px;
              margin-top: 29px; }
              body .wraper .feed .main-wrapper .wrapper-feed .pay-block .panda-block .sign .x {
                width: 14px;
                height: 14px; }
              body .wraper .feed .main-wrapper .wrapper-feed .pay-block .panda-block .sign .x2 {
                display: none; }
            body .wraper .feed .main-wrapper .wrapper-feed .pay-block .panda-block .panda-pic {
              margin-right: 10px; }
              body .wraper .feed .main-wrapper .wrapper-feed .pay-block .panda-block .panda-pic .panda2 {
                display: none; }
          body .wraper .feed .main-wrapper .wrapper-feed .pay-block .amount {
            width: 100%; }
            body .wraper .feed .main-wrapper .wrapper-feed .pay-block .amount .amount-tityle {
              line-height: 140%;
              color: #000000;
              margin: 48px 0 16px 98px; }
            body .wraper .feed .main-wrapper .wrapper-feed .pay-block .amount .range-wrapper {
              display: flex;
              flex-direction: column;
              align-items: center; }
              body .wraper .feed .main-wrapper .wrapper-feed .pay-block .amount .range-wrapper .range {
                position: relative;
                max-width: 976px;
                width: 100%;
                height: 27px;
                background: #404950;
                border-radius: 2px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 13px; }
                body .wraper .feed .main-wrapper .wrapper-feed .pay-block .amount .range-wrapper .range input[type=range] {
                  position: absolute;
                  display: block;
                  -webkit-appearance: none;
                  max-width: 945px;
                  width: 100%;
                  height: 2px;
                  background: transparent;
                  transform: rotateZ(180deg); }
                body .wraper .feed .main-wrapper .wrapper-feed .pay-block .amount .range-wrapper .range input[type=range]::-webkit-slider-thumb {
                  -webkit-appearance: none;
                  background: url(../../icons/rollerIcon.svg);
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                  border: none;
                  cursor: pointer;
                  transition: .3s ease-in-out; }
                  body .wraper .feed .main-wrapper .wrapper-feed .pay-block .amount .range-wrapper .range input[type=range]::-webkit-slider-thumb:hover {
                    transform: scale(1.3);
                    cursor: pointer; }
                body .wraper .feed .main-wrapper .wrapper-feed .pay-block .amount .range-wrapper .range .line {
                  max-width: 915px;
                  width: 100%;
                  height: 2px;
                  background: #72828E;
                  display: flex;
                  justify-content: space-between;
                  align-items: center; }
                  body .wraper .feed .main-wrapper .wrapper-feed .pay-block .amount .range-wrapper .range .line .circle {
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background: #FFEE2E;
                    transition: all 0.5s; }
                    body .wraper .feed .main-wrapper .wrapper-feed .pay-block .amount .range-wrapper .range .line .circle:hover {
                      transform: scale(1.5);
                      cursor: pointer; }
              body .wraper .feed .main-wrapper .wrapper-feed .pay-block .amount .range-wrapper .quantity {
                max-width: 976px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-right: 0px; }
                body .wraper .feed .main-wrapper .wrapper-feed .pay-block .amount .range-wrapper .quantity span {
                  font-size: 26px;
                  color: #333B41; }
                body .wraper .feed .main-wrapper .wrapper-feed .pay-block .amount .range-wrapper .quantity .active-dollar {
                  color: #FE9013; }
        body .wraper .feed .main-wrapper .wrapper-feed .pay-forms {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin: 48px 0 0 0; }
          body .wraper .feed .main-wrapper .wrapper-feed .pay-forms form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%; }
            body .wraper .feed .main-wrapper .wrapper-feed .pay-forms form .input-block {
              position: relative; }
              body .wraper .feed .main-wrapper .wrapper-feed .pay-forms form .input-block::before {
                position: absolute;
                content: "";
                width: 10px;
                height: 20px;
                top: 34%;
                right: 10px;
                background: url(../../icons/dollar.svg);
                background-repeat: no-repeat;
                background-size: cover; }
              body .wraper .feed .main-wrapper .wrapper-feed .pay-forms form .input-block input[type=number] {
                width: 268px;
                height: 54px;
                box-sizing: border-box;
                border: 1px solid #929699;
                border-radius: 2px;
                background: transparent;
                line-height: 140%;
                color: #929699;
                padding: 0 0 0 8px; }
              body .wraper .feed .main-wrapper .wrapper-feed .pay-forms form .input-block input[type=number]:focus {
                border: 1px solid #4B9200;
                color: #4B9200; }
              body .wraper .feed .main-wrapper .wrapper-feed .pay-forms form .input-block input::-webkit-outer-spin-button,
              body .wraper .feed .main-wrapper .wrapper-feed .pay-forms form .input-block input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0; }
            body .wraper .feed .main-wrapper .wrapper-feed .pay-forms form .radio-box {
              max-width: 208px;
              width: 100%;
              display: flex;
              justify-content: space-between;
              margin: 26px 5px 30px 0; }
              body .wraper .feed .main-wrapper .wrapper-feed .pay-forms form .radio-box .radio-btn {
                margin-right: 13px; }
              body .wraper .feed .main-wrapper .wrapper-feed .pay-forms form .radio-box input[type=radio] {
                display: none; }
              body .wraper .feed .main-wrapper .wrapper-feed .pay-forms form .radio-box label {
                display: inline-block;
                cursor: pointer;
                position: relative;
                padding-left: 25px;
                margin-right: 0;
                user-select: none;
                line-height: 140%; }
                body .wraper .feed .main-wrapper .wrapper-feed .pay-forms form .radio-box label::before {
                  content: "";
                  display: inline-block;
                  width: 16px;
                  height: 16px;
                  position: absolute;
                  left: 0;
                  bottom: 4px;
                  border: 1px solid #FE9013;
                  border-radius: 50%; }
              body .wraper .feed .main-wrapper .wrapper-feed .pay-forms form .radio-box input[type=radio]:checked + label::before {
                border: none;
                background: #4B9200; }
            body .wraper .feed .main-wrapper .wrapper-feed .pay-forms form .feed-btn {
              margin: 0 0 31px 12px; }
          body .wraper .feed .main-wrapper .wrapper-feed .pay-forms p {
            color: #333B41;
            margin: 0 0 3px 5px; }
    @media (max-width: 1599px) {
      body .wraper .feed {
        padding: 40px 0 30px 0; }
        body .wraper .feed .main-wrapper {
          width: 100%;
          max-width: 1060px;
          margin: 0 30px; }
          body .wraper .feed .main-wrapper .donate-info h2 {
            width: 90%;
            margin-bottom: 31px; }
          body .wraper .feed .main-wrapper .donate-info p {
            margin-bottom: 43px; }
          body .wraper .feed .main-wrapper .donate-info h3 {
            margin-bottom: 41px; }
          body .wraper .feed .main-wrapper .wrapper-feed {
            padding: 20px 0 44px 0; }
            body .wraper .feed .main-wrapper .wrapper-feed .feed-text h2 {
              margin-bottom: 11px;
              margin-right: 14px; }
            body .wraper .feed .main-wrapper .wrapper-feed .feed-text .first-feed-sub {
              margin-bottom: 60px;
              margin-left: 47px; }
            body .wraper .feed .main-wrapper .wrapper-feed .pay-block .amount .amount-tityle {
              margin: 48px 0 16px 65px; }
            body .wraper .feed .main-wrapper .wrapper-feed .pay-block .amount .range-wrapper .range {
              max-width: 810px;
              width: 100%;
              padding: 0 10px; }
              body .wraper .feed .main-wrapper .wrapper-feed .pay-block .amount .range-wrapper .range .line {
                max-width: 810px; }
                body .wraper .feed .main-wrapper .wrapper-feed .pay-block .amount .range-wrapper .range .line .circle1 {
                  display: none; }
            body .wraper .feed .main-wrapper .wrapper-feed .pay-block .amount .range-wrapper .quantity {
              max-width: 810px;
              width: 100%; }
              body .wraper .feed .main-wrapper .wrapper-feed .pay-block .amount .range-wrapper .quantity .dollar1 {
                display: none; }
            body .wraper .feed .main-wrapper .wrapper-feed .pay-forms {
              margin: 48px 0 0 0; } }
    @media (max-width: 999px) {
      body .wraper .feed {
        padding: 30px 0 46px 0; }
        body .wraper .feed .main-wrapper {
          width: 100%;
          max-width: 680px;
          margin: 0 20px; }
          body .wraper .feed .main-wrapper .donate-info h2 {
            width: 100%;
            margin-bottom: 14px;
            font-size: 24px; }
          body .wraper .feed .main-wrapper .donate-info p {
            margin-bottom: 29px; }
          body .wraper .feed .main-wrapper .donate-info h3 {
            margin-bottom: 30px; }
          body .wraper .feed .main-wrapper .wrapper-feed {
            padding: 30px 0 31px 0;
            width: 100%; }
            body .wraper .feed .main-wrapper .wrapper-feed .feed-text h2 {
              margin-bottom: 22px;
              margin-right: 3px; }
            body .wraper .feed .main-wrapper .wrapper-feed .feed-text .first-feed-sub {
              margin-bottom: 48px;
              text-align: center;
              margin-left: -3px; }
            body .wraper .feed .main-wrapper .wrapper-feed .pay-block .amount .amount-tityle {
              margin: 41px 0 8px 9px; }
            body .wraper .feed .main-wrapper .wrapper-feed .pay-block .amount .range-wrapper .range {
              max-width: 810px;
              width: 100%;
              padding: 0 10px; }
              body .wraper .feed .main-wrapper .wrapper-feed .pay-block .amount .range-wrapper .range .line {
                max-width: 810px;
                width: 91%; }
                body .wraper .feed .main-wrapper .wrapper-feed .pay-block .amount .range-wrapper .range .line .circle2 {
                  display: none; }
                body .wraper .feed .main-wrapper .wrapper-feed .pay-block .amount .range-wrapper .range .line .circle3 {
                  display: none; }
            body .wraper .feed .main-wrapper .wrapper-feed .pay-block .amount .range-wrapper .quantity {
              max-width: 810px;
              width: 95%; }
              body .wraper .feed .main-wrapper .wrapper-feed .pay-block .amount .range-wrapper .quantity .dollar2 {
                display: none; }
              body .wraper .feed .main-wrapper .wrapper-feed .pay-block .amount .range-wrapper .quantity .dollar3 {
                display: none; }
              body .wraper .feed .main-wrapper .wrapper-feed .pay-block .amount .range-wrapper .quantity .active-dollar2 {
                color: #FE9013; }
            body .wraper .feed .main-wrapper .wrapper-feed .pay-forms {
              margin: 48px 0 0 0; }
              body .wraper .feed .main-wrapper .wrapper-feed .pay-forms form .input-block::before {
                top: 25%;
                right: 11px; }
              body .wraper .feed .main-wrapper .wrapper-feed .pay-forms form .input-block input[type=number] {
                width: 180px;
                height: 42px;
                padding: 0 0 0 4px; }
              body .wraper .feed .main-wrapper .wrapper-feed .pay-forms form .radio-box {
                margin: 30px 9px 29px 0; }
              body .wraper .feed .main-wrapper .wrapper-feed .pay-forms form .feed-btn {
                margin: 0 0 31px 2px; }
              body .wraper .feed .main-wrapper .wrapper-feed .pay-forms p {
                margin: 0 0 0 0; } }
    @media (max-width: 639px) {
      body .wraper .feed {
        padding: 30px 0 22px 0; }
        body .wraper .feed .main-wrapper {
          width: 100%;
          max-width: 680px;
          margin: 0 20px; }
          body .wraper .feed .main-wrapper .donate-info h2 {
            width: 100%;
            margin-bottom: 23px;
            font-size: 24px;
            line-height: 120%; }
          body .wraper .feed .main-wrapper .donate-info p {
            margin-bottom: 29px;
            line-height: 137%; }
          body .wraper .feed .main-wrapper .donate-info h3 {
            margin-bottom: 28px;
            font-size: 24px; }
          body .wraper .feed .main-wrapper .wrapper-feed {
            padding: 20px 0 19px 0;
            width: 100%; }
            body .wraper .feed .main-wrapper .wrapper-feed .feed-text h2 {
              margin-bottom: 10px;
              margin-right: 3px;
              font-size: 24px; }
            body .wraper .feed .main-wrapper .wrapper-feed .feed-text .first-feed-sub {
              margin-bottom: 0px;
              text-align: center;
              margin-left: -3px;
              font-size: 16px;
              line-height: 130%; }
            body .wraper .feed .main-wrapper .wrapper-feed .pay-block .panda-block {
              max-width: 320px;
              width: 100%; }
              body .wraper .feed .main-wrapper .wrapper-feed .pay-block .panda-block .digit {
                margin: 45px 0 0 0; }
                body .wraper .feed .main-wrapper .wrapper-feed .pay-block .panda-block .digit .four {
                  font-size: 40px;
                  margin: 0 0 0 0; }
                body .wraper .feed .main-wrapper .wrapper-feed .pay-block .panda-block .digit .four-subtittle {
                  line-height: 140%;
                  margin-top: 9px;
                  font-size: 9.02255px;
                  width: 140%; }
              body .wraper .feed .main-wrapper .wrapper-feed .pay-block .panda-block .sign {
                margin-right: 30px;
                margin-top: 29px; }
                body .wraper .feed .main-wrapper .wrapper-feed .pay-block .panda-block .sign .x2 {
                  display: block;
                  width: 8px;
                  height: 8px; }
                body .wraper .feed .main-wrapper .wrapper-feed .pay-block .panda-block .sign .x1 {
                  display: none; }
              body .wraper .feed .main-wrapper .wrapper-feed .pay-block .panda-block .panda-pic {
                margin-right: 10px; }
                body .wraper .feed .main-wrapper .wrapper-feed .pay-block .panda-block .panda-pic .panda2 {
                  display: block;
                  margin: 12px -9px 0 0; }
                body .wraper .feed .main-wrapper .wrapper-feed .pay-block .panda-block .panda-pic .panda1 {
                  display: none; }
            body .wraper .feed .main-wrapper .wrapper-feed .pay-block .amount .amount-tityle {
              margin: 4px 0 8px 1px; }
            body .wraper .feed .main-wrapper .wrapper-feed .pay-block .amount .range-wrapper .range {
              max-width: 810px;
              width: 100%;
              padding: 0 5px;
              height: 13.5px;
              margin-bottom: 8px; }
              body .wraper .feed .main-wrapper .wrapper-feed .pay-block .amount .range-wrapper .range .line {
                max-width: 810px;
                width: 91%; }
                body .wraper .feed .main-wrapper .wrapper-feed .pay-block .amount .range-wrapper .range .line .circle2 {
                  display: none; }
                body .wraper .feed .main-wrapper .wrapper-feed .pay-block .amount .range-wrapper .range .line .circle {
                  width: 5px;
                  height: 5px; }
                body .wraper .feed .main-wrapper .wrapper-feed .pay-block .amount .range-wrapper .range .line .circle3 {
                  display: none; }
            body .wraper .feed .main-wrapper .wrapper-feed .pay-block .amount .range-wrapper .quantity {
              max-width: 810px;
              width: 95%; }
              body .wraper .feed .main-wrapper .wrapper-feed .pay-block .amount .range-wrapper .quantity span {
                font-size: 13px; }
            body .wraper .feed .main-wrapper .wrapper-feed .pay-forms {
              margin: 23px 0 0 0; }
              body .wraper .feed .main-wrapper .wrapper-feed .pay-forms form .radio-box {
                margin: 25px 9px 27px 0; }
              body .wraper .feed .main-wrapper .wrapper-feed .pay-forms form .feed-btn {
                margin: 0 0 31px 2px; }
              body .wraper .feed .main-wrapper .wrapper-feed .pay-forms p {
                margin: 0 0 0 0; } }
  body .wraper .footer {
    width: 100%;
    background-color: black; }
    body .wraper .footer .wrapper-footer {
      width: 100%;
      max-width: 1220px;
      height: inherit;
      margin: 0 auto;
      padding: 0 30px 0px 30px;
      box-sizing: border-box; }
      body .wraper .footer .wrapper-footer footer {
        box-sizing: border-box; }
        body .wraper .footer .wrapper-footer footer .first-footer-block {
          display: flex;
          justify-content: space-between;
          align-items: center; }
          body .wraper .footer .wrapper-footer footer .first-footer-block .footer-logo {
            position: relative;
            width: 82px;
            height: 52px;
            border: 1px solid #FFFFFF;
            border-radius: 2px;
            margin-top: 8px; }
            body .wraper .footer .wrapper-footer footer .first-footer-block .footer-logo h1 {
              text-align: center; }
              body .wraper .footer .wrapper-footer footer .first-footer-block .footer-logo h1 a {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 19.0145px;
                line-height: 120%;
                color: #FFFFFF; }
            body .wraper .footer .wrapper-footer footer .first-footer-block .footer-logo .stick {
              position: absolute;
              left: 9px;
              bottom: 6px; }
          body .wraper .footer .wrapper-footer footer .first-footer-block .footer-sub h3 {
            font-size: 24px;
            color: #FFFFFF;
            padding: 41px 0 13px 0; }
          body .wraper .footer .wrapper-footer footer .first-footer-block .footer-sub form input[type=email] {
            width: 228px;
            height: 44px;
            border: 1px solid #F9804B;
            border-radius: 2px;
            background: transparent;
            line-height: 140%;
            color: #BDBDBD;
            padding-left: 8px; }
          body .wraper .footer .wrapper-footer footer .first-footer-block .footer-sub form input[type=submit] {
            width: 129px;
            height: 42px;
            border: 1px solid #D31414;
            border-radius: 5px;
            background-color: #F1F3F2;
            color: #D31414;
            margin-left: 4px;
            cursor: pointer; }
          body .wraper .footer .wrapper-footer footer .first-footer-block .adaptive-network {
            display: none;
            position: absolute;
            right: 0;
            top: 13px; }
            body .wraper .footer .wrapper-footer footer .first-footer-block .adaptive-network .icon-bgr {
              width: 26px;
              height: 26px;
              background: rgba(196, 196, 196, 0.5);
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              margin: 0 0 20px 0;
              transition: all 0.5s; }
              body .wraper .footer .wrapper-footer footer .first-footer-block .adaptive-network .icon-bgr:hover {
                cursor: pointer;
                transform: scale(1.1); }
        body .wraper .footer .wrapper-footer footer .footer-btn .donate-btn {
          border-radius: 5px;
          margin-top: 33px; }
        body .wraper .footer .wrapper-footer footer .last-footer-block {
          display: flex;
          justify-content: space-between; }
          body .wraper .footer .wrapper-footer footer .last-footer-block .networks {
            margin-top: 47px; }
            body .wraper .footer .wrapper-footer footer .last-footer-block .networks ul li {
              margin-bottom: 10px;
              transition: all 0.5s; }
              body .wraper .footer .wrapper-footer footer .last-footer-block .networks ul li:hover {
                transform: scale(1.1);
                cursor: pointer; }
              body .wraper .footer .wrapper-footer footer .last-footer-block .networks ul li a {
                line-height: 140%;
                color: #FFFFFF; }
            body .wraper .footer .wrapper-footer footer .last-footer-block .networks ul .facebook::before {
              display: inline-flex;
              content: url(../../icons/facebook.svg);
              width: 26px;
              height: 26px;
              background: rgba(196, 196, 196, 0.5);
              border-radius: 50%;
              justify-content: center;
              align-items: center;
              margin-right: 13px; }
            body .wraper .footer .wrapper-footer footer .last-footer-block .networks ul .twitter::before {
              display: inline-flex;
              content: url(../../icons/twitter.svg);
              width: 26px;
              height: 26px;
              background: rgba(196, 196, 196, 0.5);
              border-radius: 50%;
              justify-content: center;
              align-items: center;
              margin-right: 13px; }
            body .wraper .footer .wrapper-footer footer .last-footer-block .networks ul .instagram::before {
              display: inline-flex;
              content: url(../../icons/instagram.svg);
              width: 26px;
              height: 26px;
              background: rgba(196, 196, 196, 0.5);
              border-radius: 50%;
              justify-content: center;
              align-items: center;
              margin-right: 13px; }
            body .wraper .footer .wrapper-footer footer .last-footer-block .networks ul .youTube::before {
              display: inline-flex;
              content: url(../../icons/youTube.svg);
              width: 26px;
              height: 26px;
              background: rgba(196, 196, 196, 0.5);
              border-radius: 50%;
              justify-content: center;
              align-items: center;
              margin-right: 13px; }
          body .wraper .footer .wrapper-footer footer .last-footer-block .footer-navigator {
            height: auto; }
            body .wraper .footer .wrapper-footer footer .last-footer-block .footer-navigator ul {
              display: flex;
              justify-content: space-between;
              width: 362px;
              margin: 157px 0 50px 120px; }
              body .wraper .footer .wrapper-footer footer .last-footer-block .footer-navigator ul li {
                transition: all 0.5s; }
                body .wraper .footer .wrapper-footer footer .last-footer-block .footer-navigator ul li:hover {
                  transform: scale(1.1); }
                body .wraper .footer .wrapper-footer footer .last-footer-block .footer-navigator ul li .activeLink {
                  color: #F9804B; }
          body .wraper .footer .wrapper-footer footer .last-footer-block .autor {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 100;
            font-size: 16px;
            line-height: 130%;
            color: #FFFFFF;
            margin-top: 128px; }
            body .wraper .footer .wrapper-footer footer .last-footer-block .autor .autorName {
              margin-bottom: 10px; }
    @media (max-width: 1599px) {
      body .wraper .footer .wrapper-footer {
        width: 100%;
        max-width: 1060px;
        padding: 0 17px 0px 30px; }
        body .wraper .footer .wrapper-footer footer .first-footer-block {
          margin: 0 46px 0 0px; }
        body .wraper .footer .wrapper-footer footer .footer-btn {
          margin: 0 0 0 0px; }
        body .wraper .footer .wrapper-footer footer .last-footer-block {
          margin: 0 12px 0 0px; }
          body .wraper .footer .wrapper-footer footer .last-footer-block .footer-navigator ul {
            width: 333px;
            margin: 157px 0 50px 118px; } }
    @media (max-width: 999px) {
      body .wraper .footer .wrapper-footer {
        width: 100%;
        max-width: 680px;
        padding: 0 20px 0px 20px; }
        body .wraper .footer .wrapper-footer footer .first-footer-block {
          margin: 0 0px 0 0px;
          position: relative; }
          body .wraper .footer .wrapper-footer footer .first-footer-block .footer-logo {
            margin: 12px 0 0 0; }
          body .wraper .footer .wrapper-footer footer .first-footer-block .footer-sub {
            display: none; }
          body .wraper .footer .wrapper-footer footer .first-footer-block .adaptive-network {
            display: block; }
        body .wraper .footer .wrapper-footer footer .footer-btn {
          margin: 0 0 0 -2px; }
        body .wraper .footer .wrapper-footer footer .last-footer-block {
          margin: 0 0 0 0px; }
          body .wraper .footer .wrapper-footer footer .last-footer-block .networks {
            display: none; }
          body .wraper .footer .wrapper-footer footer .last-footer-block .footer-navigator ul {
            width: 298px;
            margin: 97px 0 11px 0px; }
          body .wraper .footer .wrapper-footer footer .last-footer-block .autor {
            margin-top: 67px; }
            body .wraper .footer .wrapper-footer footer .last-footer-block .autor .autorName {
              margin-bottom: 10px; } }
    @media (max-width: 639px) {
      body .wraper .footer .wrapper-footer {
        width: 100%;
        max-width: 340px;
        padding: 0 10px 0px 10px; }
        body .wraper .footer .wrapper-footer footer .first-footer-block {
          margin: 0 0px 0 0px;
          position: static;
          flex-direction: column;
          box-sizing: border-box; }
          body .wraper .footer .wrapper-footer footer .first-footer-block .footer-logo {
            margin: 20px 0 30px 0;
            border: none;
            width: 128px;
            height: 23px; }
            body .wraper .footer .wrapper-footer footer .first-footer-block .footer-logo .stick {
              left: 71px;
              bottom: 5px; }
          body .wraper .footer .wrapper-footer footer .first-footer-block .adaptive-network {
            position: static;
            display: flex;
            max-width: 300px;
            width: 84%;
            justify-content: space-evenly; }
        body .wraper .footer .wrapper-footer footer .footer-btn {
          margin: 0 0 0 -2px; }
          body .wraper .footer .wrapper-footer footer .footer-btn .donate-btn {
            margin-top: 10px; }
        body .wraper .footer .wrapper-footer footer .last-footer-block {
          margin: 0 0 0 0px;
          flex-direction: column-reverse;
          align-items: center; }
          body .wraper .footer .wrapper-footer footer .last-footer-block .networks {
            display: none; }
          body .wraper .footer .wrapper-footer footer .last-footer-block .footer-navigator ul {
            width: 278px;
            margin: 29px 0 21px 0px; }
          body .wraper .footer .wrapper-footer footer .last-footer-block .autor {
            margin: 30px 0 0 84px;
            font-size: 15px; }
            body .wraper .footer .wrapper-footer footer .last-footer-block .autor .autorName {
              margin-bottom: 10px; } }

/*# sourceMappingURL=style.css.map */
